*{
	margin: 0;
	padding: 0;
}

body{
    background-color: whitesmoke;
    font-family: sans-serif;
    overflow-x: hidden;
}

nav{
    position: fixed;
    top: 0;
    display: flex;
    background-color: whitesmoke;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    box-shadow: 0px 0px 10px rgb(207, 182, 167);
    }

nav ul{
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0 2% 0 0;
    width: 40%;
    height: 40px;
    align-content: center;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    justify-content: space-between;
    font-size: 0.8em;
    list-style: none;
    cursor: pointer;
}
nav li a{
    position: relative;
    top: 20%;
    margin: auto;
    text-decoration: none;
}

.bt1{
    width: 120px;
    height: 40px;
    background-color: #ff4800;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

.bt1 a{
    color: whitesmoke;
}

.bt2 a{
    color: black;
}

.bt3 a{
    color: black;
}

    nav .bs a{
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        color: whitesmoke;
        width: 180px;
        height: 40px;
        text-decoration: none;
        background-color: #e4490b;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 100px;
        box-shadow: 4px 4px 10px #bd3a06;
        
    }
    
    nav .bs h2{
        background: linear-gradient(90deg, #c8ff00, #00ff40, #00ffc8, #003cff, #00ffc8, #00ff40, #c8ff00);
        background-size: 400%;
        font-size: 1.8em;
        font-weight: 600;
        word-spacing: 5px;
        cursor: default;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: colouranimasion 20s linear infinite; 
    }

    .bt2 a:hover{
        color: #ff4800;
    }

    .bt3 a:hover{
        color: #ff4800;
        text-decoration: underline 1px solid #ff4800;
    }

    @keyframes colouranimasion {
        0%{
            background-position: 0%;
        }
        100%{
            background-position: 400%;
        }
    }

    .mt{
        position: relative;
        top: 10px;
        right: -20%;
        display: none;
        flex-direction: column;
        height: 20px;
        justify-content: space-between;
    }

    .mt input{
        position: absolute;
        width: 40px;
        height: 27px;
        opacity: 0;
        left: -6px;
        top: -3px;
        z-index: 2;
        cursor: pointer;
    }

    .mt span{
        display: block;
        width: 28px;
        height: 3px;
        background-color: #e4490b;
        border-radius: 3px;
        transition: 500ms;
    }

    .mt span:nth-child(2){
        transform-origin: 0 0;
    }

    .mt span:nth-child(4){
        transform-origin: 0 100;
    }

    .mt input:checked~span:nth-child(2){
        transform: rotate(45deg) translate(3px,-3px);
    }

    .mt input:checked~span:nth-child(4){
        transform: rotate(-45deg) translate(5px,-5px);
    }
    .mt input:checked~span:nth-child(3){
        opacity: 0;
        transform: scale(0);
    }

    @media screen and (max-width: 992px){
        nav ul{
            position: absolute;
            display: flex;
            justify-content: space-between;
            width: 60%;
            font-size: 0.7em;
            
        }

        nav li a{
            top: 30%;
        }
    }

    @media screen and (max-width: 768px){
        nav ul{
            position: absolute;
            display: flex;
            justify-content: space-between;
            width: 60%;
            font-size: 0.7em;
            
        }

        nav li a{
            top: 30%;
        }
    }

    @media screen and (max-width: 567px) {

        nav ul{
            position: absolute;
            display: flex;
            right: 0;
            top: 0;
            padding-top: 80px;
            padding-bottom: 80px;
            height: 60vh;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            z-index: -33;
            background-color: #f5f5f5;
            transform: translateX(100%);
            transition: all 550ms;
            opacity: 0;
        }

        nav ul.slide{
            transform: translateY(0);
            top: -5%;
            width: 45%;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.651);
            opacity: 1;
        }
        
        .mt{
            display: flex;
        }
    }